name: deploy

on:
  push:
    branches:
      - zjtime     # 触发部署的分支

jobs:
  #  push-to-ftp:
  #    # if: "contains(github.event.head_commit.message, '[deploy]')"
  #    runs-on: ubuntu-latest
  #    steps:
  #      - name: Checkout
  #        uses: actions/checkout@master
  #
  #      - name: Sed Config Base
  #        shell: bash
  #        run: |
  #          sed -i  's/doc-next/doc-next/g' ./.vitepress/config.js
  #
  #      - name: use Node.js 15
  #        uses: actions/setup-node@v2.1.2
  #        with:
  #          node-version: '15.x'
  #
  #      - name: Get yarn cache
  #        id: yarn-cache
  #        run: echo "::set-output name=dir::$(yarn cache dir)"
  #
  #      - name: Cache dependencies
  #        uses: actions/cache@v2
  #        with:
  #          path: ${{ steps.yarn-cache.outputs.dir }}
  #          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
  #          restore-keys: |
  #            ${{ runner.os }}-yarn-
  #
  #      - name: Build
  #        run: |
  #          yarn install --frozen-lockfile
  #          yarn run build
  #
  #      - name: Deploy
  #        uses: SamKirkland/FTP-Deploy-Action@2.0.0
  #        env:
  #          FTP_SERVER: ${{ secrets.FTP_SERVER }}
  #          FTP_USERNAME: ${{ secrets.FTP_USERNAME }}
  #          FTP_PASSWORD: ${{ secrets.FTP_PASSWORD }}
  #          METHOD: sftp
  #          PORT: ${{ secrets.FTP_PORT }}
  #          LOCAL_DIR: ./.vitepress/dist
  #          REMOTE_DIR: /srv/www/vben-admin-doc
  #          ARGS: --delete --verbose --parallel=80

  push-to-gh-pages:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout                # 检查
        uses: actions/checkout@v2

      - name: use Node.js 14          # 使用node
        uses: actions/setup-node@v2.1.2
        with:
          node-version: '14.x'

      - name: Build                   #构建
        run: |
          yarn install --frozen-lockfile
          yarn run build

      - name: Deploy                    #部署
        uses: peaceiris/actions-gh-pages@v3.8.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          PUBLISH_DIR: ./.vitepress/dist
          publish_branch: gh-pages
          force_orphan: true
          user_name: 'zhiyuan'
          user_email: 'zhiyuan@163@163.com'
